<section class="about my-5" id="about">
    <div class="container">
        <h1 class="title my-2">About ME</h1>
        <p class="description mb-3">
            Know me.
        </p>
        <div class="about__info">
            <p class="about__info--p">
                My name is Alan, I am 14 years old, and I am a frontend web developer.
                My expectation is to acquire work experience through internships, small projects my own and volunteering to achieve better development in this field and day by day offer better jobs and with a higher quality, in order to offer my services in a professional way or create my company in the future. .
            </p>
            <img src="{{img}}" class="about__info--img">
        </div>
    </div>
</section>