<footer class="footer w-100">
    <div class="social" id="contact">
        <div class="redes">
            <a href="https://www.youtube.com/channel/UC7YeRtJHW-I2MHB0v-cNynw"><i class="fab fa-youtube"></i></a>
            <a href="https://github.com/ArsayDv"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/arsayjs/"><i class="fab fa-instagram"></i></a>
            <a href="mailto:arsaycontact@gmail.com?subject=Contact Alan González! &body=Hello, I am communicating with you by mail, I want to know more information about your services!"><i class="far fa-envelope"></i></a>
        </div>
    </div>
    <div class="footer-content">
        <p class="text-white text-center lead">Copyright &copy; 2021 Alan. All rights reserved.</p>
        <p class="text-white text-center lead">Made it with love 💙 from México ️🇲🇽</p>
    </div>
</footer>