<section class="services my-5" id="services">
    <div class="container">
        <h1 class="title my-2">Services Offers</h1>
        <p class="description mb-5">
            I can help you in your project through these services.
        </p>
        <div class="cards w-100">
            <div class="row w-100 service-row">
                <div class="service">
                    <div class="service-box">
                        <div class="service-ico">
                            <div class="ico-circle">
                                <i class="fas fa-desktop"></i>
                            </div>
                        </div>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Desing</h2>
                    </div>
                </div>
            </div>
            <div class="row w-100 service-row">
                <div class="service">
                    <div class="service-box">
                        <div class="service-ico">
                            <div class="ico-circle">
                                <i class="fas fa-code"></i>
                            </div>
                        </div>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                    </div>
                </div>
            </div>
            <div class="row w-100 service-row">
                <div class="service">
                    <div class="service-box">
                        <div class="service-ico">
                            <div class="ico-circle">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                        </div>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Responsive Desing</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>