<section class="skills my-5" id="skills">
    <div class="container">
        <h1 class="title my-2">My Stack</h1>
        <p class="description mb-3">
            Some of my web developer skills 
        </p>
        <div class="skills d-flex justify-content-center">
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="HTML">
                <i data-aos="flip-up" data-aos-delay="300" data-aos-duration="2000" data-mdb-toggle="tooltip" title="" class="skill fab fa-html5 aos-init aos-animate" data-mdb-original-title="HTML" aria-label="HTML"></i>
            </span>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="CSS">
                <i data-aos="flip-up" data-aos-delay="300" data-aos-duration="2000" data-mdb-toggle="tooltip" title="" class="skill fab fa-css3-alt aos-init aos-animate" data-mdb-original-title="CSS" aria-label="CSS"></i>
            </span>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="JavaScript">
                <i data-aos="flip-up" data-aos-delay="300" data-aos-duration="2000" data-mdb-toggle="tooltip" title="" class="skill fab fa-js-square aos-init aos-animate" data-mdb-original-title="Javascript" aria-label="Javascript"></i>
            </span>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Bootstrap">
                <i data-aos="flip-up" data-aos-delay="300" data-aos-duration="2000" data-mdb-toggle="tooltip" title="" class="skill fab fa-bootstrap aos-init aos-animate" data-mdb-original-title="Bootstrap"> </i>
            </span>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Sass">
                <i data-aos="flip-up" data-aos-delay="300" data-aos-duration="2000" data-mdb-toggle="tooltip" title="" class="skill fab fa-sass aos-init aos-animate" data-mdb-original-title="Sass"> </i>
            </span>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Git">
                <i data-aos="flip-up" data-aos-delay="300" data-aos-duration="2000" data-mdb-toggle="tooltip" title="" class="skill fab fa-git-alt aos-init aos-animate" data-mdb-original-title="Git" aria-label="Git"></i>
            </span>
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Angular">
                <i data-aos="flip-up" data-aos-delay="300" data-aos-duration="2000" data-mdb-toggle="tooltip" title="" class="skill fab fa-angular aos-init aos-animate" data-mdb-original-title="Angular" aria-label="Angular"></i>
            </span>
        </div>
    </div>
</section>